h2 {
  padding: 1em;
}

h3 {
  padding: 1em;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.homeImageContainer {
  display: block;
  width: 100%;
}

.homeImageContainer > img {
  display: block;
  width: 100%;
}

.homeText{
    color: rgb(36, 36, 36);
    text-align: center;
}

.section1 {
  background: #EFF9F0;
  color: #0D0C1D;
  padding: 1em;
  /* text-decoration-line: underline; */
}

.section2 {
  color: #DECBB7;
  background: #161B33;
  padding: 1em;
}

.section3 {
  text-align: left;
  background: #EFF9F0;
  color: #0D0C1D;
  padding: 1em;
  padding-left: 2em;
}