.footerContainer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  width: 100%;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 15px #00214B;
}

.companyName {
  margin-left: 1em;
  color: #373737;
}

.copyWright {
  font-style: none;
}

.footerLink {
  color: #373737;
}

.footerLinkActive {
  font-size: 1.5em;
}